@use "variables" as *;

.error-page {
    text-align: center;

    padding: 100px 0;
}

.error-page h1 {
    margin: 0 0 20px;

    font-size: 72px;
}

.error-page p {
    margin-bottom: 30px;

    color: $color-text-muted;
}

@media (max-width: 640px) {
    .error-page {
        padding: 70px 0;
    }

    .error-page h1 {
        font-size: 56px;
    }
}